body {
    margin: 0px;
    padding: 0px;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 8px 0px;
    background: #699339;
    color: white;
    font-size: 12px;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    color: #A1A2A3;
}

h2 {
    margin: 0px;
}

button {
    color: #699339;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    border-color: #699339;
    text-decoration: none;
    padding: 8px 12px;
}

button:hover {
    background-color: #E9EDE3;
}

button:focus {
    background-color: #babeb4;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

img.title {
    height: 28px;
}

.italicize {
    font-style: italic;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.box {
    border: 1px solid;
    border-color: #E5E6E6;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px; 
}

.move {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
    color: #333333;
    transition-duration: 300ms;
    transition-property: scale, box-shadow;

}

.move:hover {
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.move-img {
    width: 180px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#game-wrapper {
    display: flex;
    gap: 36px;
}

#main-title {
    font-weight: 500;
    margin: 0px;
}

div.hidden {
    display: none !important;
}